@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* Document reset */
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

/* Variables */
:root {
  --colourOne: #f5efe6;
  --colourTwo: #e8dfca;
  --colourThree: #aebdca;
  --colourFour: #7895b2;
}

body {
  background-color: var(--colourOne);
}

/* header */
header {
  color: var(--colourTwo);
  display: flex;
  background-color: var(--colourFour);
  padding: 20px;
  justify-content: space-between;
}

header a {
  font-size: 18px;
}

.navRight {
  display: flex;
}

.navRight a {
  padding: 10px;
  text-decoration: none;
  color: var(--colourTwo);
}

.navRight a:hover {
  color: var(--colourThree);
  text-decoration: underline;
}

/* Hero Section */

.hero-banner {
  background-image: url("../images/hero1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: end;
  height: 70vh;
}

.hero-banner h2 {
  color: var(--colourFour);
  font-size: 30px;
  font-weight: 700;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 45px 0 0 0;
}

/* Page Section */
.page-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
}

h2 {
  text-align: center;
  margin: 80px;
  color: var(--colourFour);
  font-size: 40px;
}

.image-cropper {
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
  border-radius: 20px 20px;
}

#aboutGrid {
  margin: 0 auto;
  display: grid;
  grid-template-rows: 150px;
  grid-template-columns: 20% 80%;
  grid-template-areas: "pic txt";
}

#me {
  grid-area: pic;
  background-image: url("../images/me.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  padding: 10px;
  border: 3px solid var(--colourFour);
}

#aboutMe {
  grid-area: txt;
}

/* My Work */
.projects {
  text-decoration: none;
}
#projectsGrid {
  margin: 0 auto;
  display: grid;
  grid-template-rows: 300px 300px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "p1 p1"
    "p2 p3";
}

#project1 {
  grid-area: p1;
  background-image: url("../images/HoriseonProject.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
  margin: 10px;
  border-radius: 15px;
  transition: box-shadow 0.25;
}

#project1:hover {
  box-shadow: 0 5px 15px 5px var(--colourFour);
}

#project2 {
  grid-area: p2;
  background-image: url("../images/prework.png");
  background-repeat: no-repeat;
  background-position: top;
  background-color: var(--colourThree);
  margin: 10px;
  border-radius: 15px;
}

#project2:hover {
  box-shadow: 0 5px 15px 5px var(--colourFour);
}

#project3 {
  grid-area: p3;
  background-image: url("../images/projectThreeDemo.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-color: var(--colourTwo);
  margin: 10px;
  border-radius: 15px;
}
#project3:hover {
  box-shadow: 0 5px 15px 5px var(--colourFour);
}

a .text {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: white;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 15px 15px 0 0;
}

/* Contact */
input[type="email"],
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width: 100%;
  background-color: var(--colourFour);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: var(--colourThree);
}

.icons {
  font-size: 40px;
  color: var(--colourFour);
  text-align: center;
}

.icons:hover {
  color: var(--colourThree);
}

/* Footer Section */
footer {
  text-align: center;
  background-color: var(--colourFour);
  height: 80px;
  margin-top: 59px;
}

footer p {
  padding: 30px;
  color: var(--colourTwo);
}

/* Media queries */
@media only screen and (max-width: 1000px) {
  nav {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  header {
    justify-content: center;
  }

  #aboutGrid {
    grid-template-rows: 200px 280px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "pic"
      "txt";
  }

  #projectsGrid {
    grid-template-rows: 150px 150px 150px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "p1"
      "p2"
      "p3";
  }

  #me {
    margin: 0 auto;
  }

  #aboutMe {
    margin: 0 20px;
    text-align: center;
    /* margin-bottom: 150px; */
  }

  .hero-banner {
    display: flex;
    height: 30vh;
    justify-content: center;
    align-items: flex-end;
  }

  .hero-banner h2 {
    color: var(--colourFour);
    font-size: 20px;
    padding: 10px;
    border-radius: 5px 5px 5px 5px;
  }

  h2 {
    margin: 0;
  }

  form {
    margin: 0 10px;
  }
}
